# XGB Regression Model 
Given how sparse and binary the data is, a boosted tree based model would seem to work best. We will apply an XGBoost model to see how it performs relative to the regularization counterparts.

In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

In [13]:
df=pd.read_csv('../clean_salary_data.csv')
pd.set_option('display.max_columns', None)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,simplified_title,seniority,salary_range,min_salary,max_salary,avg_salary,company_age,company_name,state,city,headquarters_state,same_location,size_range,min_size,max_size,avg_size,python,sql,excel,R,deep_learning,PhD,bachelor,masters,power_bi,tableau,prob_solver,critical_thinker
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,data analyst,na,$37-$66,37,66,51.5,60,Vera Institute of Justice,NY,New York,NY,1,201 to 500,201,500,350.5,1,1,0,1,0,0,1,0,0,0,0,0
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,data analyst,na,$37-$66,37,66,51.5,128,Visiting Nurse Service of New York,NY,New York,NY,1,10000+,10000,30000,20000.0,0,1,1,1,0,0,1,1,0,0,0,0
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,data analyst,senior,$37-$66,37,66,51.5,18,Squarespace,NY,New York,NY,1,1001 to 5000,1001,5000,3000.5,1,1,1,1,0,1,1,0,0,1,0,0
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,data analyst,na,$37-$66,37,66,51.5,19,Celerity,NY,New York,VA,0,201 to 500,201,500,350.5,0,1,0,1,0,0,1,0,0,1,0,0
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,data analyst,na,$37-$66,37,66,51.5,12,FanDuel,NY,New York,NY,1,501 to 1000,501,1000,750.5,1,1,1,1,0,0,1,0,0,0,0,0

In [14]:
#Picked variables which are slightly more correlated. 

#potential features to analyze based on information from the EDA Notebook 
features=['Rating', 'Type of ownership', 'Sector', 'Revenue', 'simplified_title', 'seniority', 'company_age',
       'state', 'same_location', 'python', 'sql', 'excel',
       'deep_learning', 'PhD', 'bachelor', 'masters', 'power_bi', 'tableau', 'Founded', 'avg_size', 'avg_salary']

#create the data frame needed for the modeling 
df_inter=df[features]

#one hot endode the variables 
df_dummies=pd.get_dummies(df_inter)

#Create the feature matrix, target variable, and train test splits 
X=df_dummies.drop('avg_salary', axis=1)
y=df_dummies.avg_salary

X_train, X_val, y_train, y_val=train_test_split(X, y, test_size=0.30, random_state=42)

In [15]:
#XGBRegressor Scores on the training data
xgbreg=XGBRegressor()
score=np.mean(cross_val_score(xgbreg,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 5))
np.abs(score)

16.551569300646378

In [16]:
#let's examine the hyperparameters to see how the boosting is taking place
import xgboost as xgb
params = {
    # Parameters that we are going to tune.
    'max_depth':6,
    'min_child_weight': 1,
    'eta':.3,
    'subsample': 1,
}
params['eval_metric'] = "mae"
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_val, label=y_val)

In [17]:
#Let's find the MAE of our model with default parameters and an optimal number of boosting rounds. 
xgbmodel = xgb.train(
    params,
    dtrain,
    num_boost_round=999,
    evals=[(dtest, "Test")],
    early_stopping_rounds=10
)

print("Best MAE: {:.2f} with {} rounds".format(
                 xgbmodel.best_score,
                 xgbmodel.best_iteration+1))

[0]	Test-mae:49.44798
[1]	Test-mae:34.79209
[2]	Test-mae:25.47718
[3]	Test-mae:20.05209
[4]	Test-mae:17.10124
[5]	Test-mae:15.68518
[6]	Test-mae:15.19463
[7]	Test-mae:14.92504
[8]	Test-mae:14.91545
[9]	Test-mae:14.90596
[10]	Test-mae:14.93110
[11]	Test-mae:15.02884
[12]	Test-mae:15.04532
[13]	Test-mae:15.12412
[14]	Test-mae:15.14489
[15]	Test-mae:15.19622
[16]	Test-mae:15.20412
[17]	Test-mae:15.23028
[18]	Test-mae:15.29778
[19]	Test-mae:15.31535
Best MAE: 14.91 with 10 rounds

As seen above, with the set parameters, we only needed to boost 8 rounds to not see any change when 
testing on the validation data set.

In [18]:
#running a cross validation to see the error on the training set with the xgb regressor. 
cross_val = xgb.cv(
    params,
    dtrain,
    num_boost_round=999,
    seed=42,
    nfold=5,
    metrics={'mae'},
    early_stopping_rounds=10
)

In [19]:
#check the results
cross_val

    train-mae-mean  train-mae-std  test-mae-mean  test-mae-std
0        50.553917       0.296355      50.516245      1.554797
1        35.650793       0.207015      35.651587      1.434286
2        25.810121       0.146756      26.217715      1.137908
3        19.724618       0.113923      20.675622      1.008722
4        16.155903       0.142434      17.852992      0.901717
5        14.166307       0.176521      16.432212      0.785619
6        13.045918       0.169624      15.855474      0.715188
7        12.400033       0.218240      15.591988      0.609081
8        12.005930       0.240092      15.438969      0.588311
9        11.774771       0.254677      15.354497      0.542693
10       11.562019       0.267344      15.310808      0.523880

In [20]:
#gather the minimum test-mae-mean 
cross_val.min()

train-mae-mean    11.562019
train-mae-std      0.113923
test-mae-mean     15.310808
test-mae-std       0.523880
dtype: float64

This is very similar to before and we can see that the model is performing better on the training set. From this we can also see that the model is performing slightly better on the validation set than the regularization methods performed.

#### Hyperparameter tune the XGBoost model 
_The ideas here were inspired from the article titled "Hyperparameter tuning in XGBoost" by Cambridge Spark_

We will only tune the max_depth, min_child_weight, and eta parameters as we believe that these parameters can lead to the best performance.

In [21]:
#We will first hyperparameter tune the max_depth and min_child_weight parameters and see if this helps us 
#lower the MAE.
grid_params = [
    (max_depth, min_child_weight)
    for max_depth in range(6,12)
    for min_child_weight in range(1,8)
]

In [22]:
# Define initial best params and MAE
min_mae = float("Inf")
best_params = None
num_boost_round=999
for max_depth, min_child_weight in grid_params:
    print("CV with max_depth={}, min_child_weight={}".format(
                             max_depth,
                             min_child_weight))    # Update our parameters
    params['max_depth'] = max_depth
    params['min_child_weight'] = min_child_weight    # Run CV
    cv_results = xgb.cv(
        params,
        dtrain,
        num_boost_round=num_boost_round,
        seed=42,
        nfold=5,
        metrics={'mae'},
        early_stopping_rounds=10
    )    # Update best MAE
    mean_mae = cv_results['test-mae-mean'].min()
    boost_rounds = cv_results['test-mae-mean'].argmin()
    print("\tMAE {} for {} rounds".format(mean_mae, boost_rounds))
    if mean_mae < min_mae:
        min_mae = mean_mae
        best_params = (max_depth,min_child_weight)
        print("Best params: {}, {}, MAE: {}".format(best_params[0], best_params[1], min_mae))

CV with max_depth=6, min_child_weight=1
	MAE 15.310807800000001 for 10 rounds
Best params: 6, 1, MAE: 15.310807800000001
CV with max_depth=6, min_child_weight=2
	MAE 15.3833526 for 10 rounds
CV with max_depth=6, min_child_weight=3
	MAE 15.362874600000001 for 9 rounds
CV with max_depth=6, min_child_weight=4
	MAE 15.290382400000002 for 11 rounds
Best params: 6, 4, MAE: 15.290382400000002
CV with max_depth=6, min_child_weight=5
	MAE 15.180088399999999 for 11 rounds
Best params: 6, 5, MAE: 15.180088399999999
CV with max_depth=6, min_child_weight=6
	MAE 15.2246386 for 9 rounds
CV with max_depth=6, min_child_weight=7
	MAE 15.143706 for 9 rounds
Best params: 6, 7, MAE: 15.143706
CV with max_depth=7, min_child_weight=1
	MAE 15.592476999999999 for 10 rounds
CV with max_depth=7, min_child_weight=2
	MAE 15.343222399999998 for 9 rounds
CV with max_depth=7, min_child_weight=3
	MAE 15.573034399999997 for 9 rounds
CV with max_depth=7, min_child_weight=4
	MAE 15.499139199999998 for 9 rounds
CV with max_depth=7, min_child_weight=5
	MAE 15.448095999999998 for 10 rounds
CV with max_depth=7, min_child_weight=6
	MAE 15.172630800000002 for 10 rounds
CV with max_depth=7, min_child_weight=7
	MAE 15.1177312 for 9 rounds
Best params: 7, 7, MAE: 15.1177312
CV with max_depth=8, min_child_weight=1
	MAE 15.597527199999998 for 9 rounds
CV with max_depth=8, min_child_weight=2
	MAE 15.537386399999999 for 8 rounds
CV with max_depth=8, min_child_weight=3
	MAE 15.707652999999999 for 9 rounds
CV with max_depth=8, min_child_weight=4
	MAE 15.5950994 for 9 rounds
CV with max_depth=8, min_child_weight=5
	MAE 15.4214302 for 9 rounds
CV with max_depth=8, min_child_weight=6
	MAE 15.217782799999998 for 8 rounds
CV with max_depth=8, min_child_weight=7
	MAE 15.302519 for 8 rounds
CV with max_depth=9, min_child_weight=1
	MAE 15.541632800000002 for 9 rounds
CV with max_depth=9, min_child_weight=2
	MAE 15.842680999999999 for 9 rounds
CV with max_depth=9, min_child_weight=3
	MAE 15.7694086 for 9 rounds
CV with max_depth=9, min_child_weight=4
	MAE 15.663701800000002 for 8 rounds
CV with max_depth=9, min_child_weight=5
	MAE 15.646008599999998 for 9 rounds
CV with max_depth=9, min_child_weight=6
	MAE 15.4797134 for 9 rounds
CV with max_depth=9, min_child_weight=7
	MAE 15.4675664 for 9 rounds
CV with max_depth=10, min_child_weight=1
	MAE 15.582312400000001 for 9 rounds
CV with max_depth=10, min_child_weight=2
	MAE 15.862046000000001 for 8 rounds
CV with max_depth=10, min_child_weight=3
	MAE 15.7411282 for 10 rounds
CV with max_depth=10, min_child_weight=4
	MAE 15.790214999999998 for 7 rounds
CV with max_depth=10, min_child_weight=5
	MAE 15.752790800000003 for 9 rounds
CV with max_depth=10, min_child_weight=6
	MAE 15.5448982 for 8 rounds
CV with max_depth=10, min_child_weight=7
	MAE 15.514165400000001 for 8 rounds
CV with max_depth=11, min_child_weight=1
	MAE 15.9059664 for 9 rounds
CV with max_depth=11, min_child_weight=2
	MAE 16.044051 for 9 rounds
CV with max_depth=11, min_child_weight=3
	MAE 15.904659600000002 for 10 rounds
CV with max_depth=11, min_child_weight=4
	MAE 15.831788399999999 for 10 rounds
CV with max_depth=11, min_child_weight=5
	MAE 15.5369258 for 9 rounds
CV with max_depth=11, min_child_weight=6
	MAE 15.6044354 for 8 rounds
CV with max_depth=11, min_child_weight=7
	MAE 15.5890284 for 9 rounds

In [23]:
#We see that the best MAE we got was with max_depth=min_child_weight=7, so let's update our parameters to include
#these rather than the default parameters. 
params['max_depth'] = 7
params['min_child_weight'] = 7
#as we can see, the model is performing better on the training set compared to the regularization models.

In [24]:
#Hyperparameter tune the eta (learning rate) hyperparameter
min_mae = float("Inf")
best_params = None
for eta in [.3, .2, .1, .05, .01, .005]:
    print("CV with eta={}".format(eta))    # We update our parameters
    params['eta'] = eta    # Run and time CV
    cv_results = xgb.cv(
            params,
            dtrain,
            num_boost_round=num_boost_round,
            seed=42,
            nfold=5,
            metrics=['mae'],
            early_stopping_rounds=10
          )    # Update best score
    mean_mae = cv_results['test-mae-mean'].min()
    boost_rounds = cv_results['test-mae-mean'].argmin()
    print("\tMAE {} for {} rounds\n".format(mean_mae, boost_rounds))
    if mean_mae < min_mae:
        min_mae = mean_mae
        best_params = eta
        print("Best params: {}, MAE: {}".format(best_params, min_mae))

CV with eta=0.3
	MAE 15.1177312 for 9 rounds

Best params: 0.3, MAE: 15.1177312
CV with eta=0.2
	MAE 15.188819200000001 for 15 rounds

CV with eta=0.1
	MAE 15.105130800000001 for 35 rounds

Best params: 0.1, MAE: 15.105130800000001
CV with eta=0.05
	MAE 15.108999399999998 for 74 rounds

CV with eta=0.01
	MAE 15.1420968 for 386 rounds

CV with eta=0.005
	MAE 15.1318034 for 727 rounds

In [25]:
#update the model to include the optimal ETA
params['eta']=0.1

In [26]:
#make sure our parameters look good before testing on the validation set. 
params

{'max_depth': 7,
 'min_child_weight': 7,
 'eta': 0.1,
 'subsample': 1,
 'eval_metric': 'mae'}

In [27]:
xgb_model=xgb.train(params, dtrain, num_boost_round=num_boost_round, 
                    evals=[(dtest, "Test")], early_stopping_rounds=10)

[0]	Test-mae:63.58807
[1]	Test-mae:57.19090
[2]	Test-mae:51.38547
[3]	Test-mae:46.19350
[4]	Test-mae:41.57264
[5]	Test-mae:37.41404
[6]	Test-mae:33.77274
[7]	Test-mae:30.54356
[8]	Test-mae:27.93918
[9]	Test-mae:25.70022
[10]	Test-mae:23.80127
[11]	Test-mae:22.13537
[12]	Test-mae:20.66820
[13]	Test-mae:19.46462
[14]	Test-mae:18.45223
[15]	Test-mae:17.62408
[16]	Test-mae:17.02201
[17]	Test-mae:16.50304
[18]	Test-mae:16.09228
[19]	Test-mae:15.80527
[20]	Test-mae:15.55462
[21]	Test-mae:15.34075
[22]	Test-mae:15.17547
[23]	Test-mae:15.03227
[24]	Test-mae:14.94757
[25]	Test-mae:14.86735
[26]	Test-mae:14.87300
[27]	Test-mae:14.84514
[28]	Test-mae:14.83270
[29]	Test-mae:14.82981
[30]	Test-mae:14.84945
[31]	Test-mae:14.84286
[32]	Test-mae:14.87120
[33]	Test-mae:14.87430
[34]	Test-mae:14.90972
[35]	Test-mae:14.93213
[36]	Test-mae:14.95958
[37]	Test-mae:14.97259
[38]	Test-mae:15.00168

In [28]:
print("Best MAE: {:.2f} in {} rounds".format(xgb_model.best_score, xgb_model.best_iteration+1))

Best MAE: 14.83 in 30 rounds

In [29]:
#stopping the unnecessary rounds 
num_boost_round = xgb_model.best_iteration + 1
best_xgb_model = xgb.train(
    params,
    dtrain,
    num_boost_round=num_boost_round,
    evals=[(dtest, "Test")]
)

[0]	Test-mae:63.58807
[1]	Test-mae:57.19090
[2]	Test-mae:51.38547
[3]	Test-mae:46.19350
[4]	Test-mae:41.57264
[5]	Test-mae:37.41404
[6]	Test-mae:33.77274
[7]	Test-mae:30.54356
[8]	Test-mae:27.93918
[9]	Test-mae:25.70022
[10]	Test-mae:23.80127
[11]	Test-mae:22.13537
[12]	Test-mae:20.66820
[13]	Test-mae:19.46462
[14]	Test-mae:18.45223
[15]	Test-mae:17.62408
[16]	Test-mae:17.02201
[17]	Test-mae:16.50304
[18]	Test-mae:16.09228
[19]	Test-mae:15.80527
[20]	Test-mae:15.55462
[21]	Test-mae:15.34075
[22]	Test-mae:15.17547
[23]	Test-mae:15.03227
[24]	Test-mae:14.94757
[25]	Test-mae:14.86735
[26]	Test-mae:14.87300
[27]	Test-mae:14.84514
[28]	Test-mae:14.83270
[29]	Test-mae:14.82981

In [30]:
#let's get the validation score
mean_absolute_error(best_xgb_model.predict(dtest), y_val)

14.829815424405611

It looks like this model after performing the hyperparameter tuning did the best in terms of performance on the MAE. We got significantly lower on the validation set compared to the Lasso best of 15.23

In [31]:
#Pickle this model 
import pickle
pickle_out = open("xgb_model.pickle", "wb")
pickle.dump(best_xgb_model, pickle_out)
pickle_out.close()

In [32]:
import pickle 
pickle_in = open("xgb_model.pickle", "rb")
xgb_model_pickle= pickle.load(pickle_in)

In [33]:
#check to make sure the model is returning the same score. 
import xgboost as xgb
dtest = xgb.DMatrix(X_val, label=y_val)
y_pick=xgb_model_pickle.predict(dtest)
mean_absolute_error(y_val, y_pick)

14.829815424405611

In [34]:
#Let's now convert this information into a csv for viewing.
X_val['model_salary_predictions']=y_pick
pd.DataFrame(X_val).to_csv("data_analyst_salary_predictions.csv", index = None)

/Users/andrewcastillo/opt/miniconda3/envs/tf/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
pd.read_csv("data_analyst_salary_predictions.csv")

,Rating,company_age,same_location,python,sql,excel,deep_learning,PhD,bachelor,masters,power_bi,tableau,Founded,avg_size,Type of ownership_-1,Type of ownership_College / University,Type of ownership_Company - Private,Type of ownership_Company - Public,Type of ownership_Contract,Type of ownership_Franchise,Type of ownership_Government,Type of ownership_Hospital,Type of ownership_Nonprofit Organization,Type of ownership_Other Organization,Type of ownership_Private Practice / Firm,Type of ownership_School / School District,Type of ownership_Self-employed,Type of ownership_Subsidiary or Business Segment,Type of ownership_Unknown,Sector_-1,Sector_Accounting & Legal,Sector_Aerospace & Defense,"Sector_Arts, Entertainment & Recreation",Sector_Biotech & Pharmaceuticals,Sector_Business Services,"Sector_Construction, Repair & Maintenance",Sector_Consumer Services,Sector_Education,Sector_Finance,Sector_Government,Sector_Health Care,Sector_Information Technology,Sector_Insurance,Sector_Manufacturing,Sector_Media,Sector_Mining & Metals,Sector_Non-Profit,"Sector_Oil, Gas, Energy & Utilities",Sector_Real Estate,"Sector_Restaurants, Bars & Food Services",Sector_Retail,Sector_Telecommunications,Sector_Transportation & Logistics,Sector_Travel & Tourism,Revenue_$1 to $2 billion (USD),Revenue_$1 to $5 million (USD),Revenue_$10 to $25 million (USD),Revenue_$10+ billion (USD),Revenue_$100 to $500 million (USD),Revenue_$2 to $5 billion (USD),Revenue_$25 to $50 million (USD),Revenue_$5 to $10 billion (USD),Revenue_$5 to $10 million (USD),Revenue_$50 to $100 million (USD),Revenue_$500 million to $1 billion (USD),Revenue_-1,Revenue_Less than $1 million (USD),Revenue_Unknown / Non-Applicable,simplified_title_business analyst,simplified_title_data analyst,simplified_title_data engineer,simplified_title_data management,simplified_title_data scientist,simplified_title_data security analyst,simplified_title_data warehouse enginner,simplified_title_other,simplified_title_risk analyst,seniority_jr,seniority_na,seniority_senior,state_ AZ,state_ CA,state_ CO,state_ DE,state_ FL,state_ GA,state_ IL,state_ IN,state_ KS,state_ NC,state_ NJ,state_ NY,state_ OH,state_ PA,state_ SC,state_ TX,state_ UT,state_ VA,state_ WA,model_salary_predictions
0,3.1,43,1,0,0,1,0,0,1,0,0,0,1978,350.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,74.198620
1,4.2,27,1,0,1,0,0,0,1,0,0,0,1994,25.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,71.989320
2,2.5,39,1,0,1,1,0,0,1,1,0,0,1982,125.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,70.466140
3,3.4,34,0,0,0,1,0,0,1,0,0,0,1987,20000.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,67.175026
4,2.7,23,0,0,0,1,0,0,1,0,0,0,1998,3000.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,58.563362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,-1.0,-1,0,1,1,1,0,0,1,0,0,0,-1,750.5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,69.957880
672,2.9,76,0,0,0,0,0,0,1,0,0,0,1945,20000.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,65.313520
673,-1.0,-1,0,0,0,0,0,0,1,0,0,0,-1,750.5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,70.028340
674,3.3,23,0,0,0,0,0,0,1,0,0,0,1998,350.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,73.692375
675,4.3,15,0,0,0,1,0,0,1,0,0,0,2006,25.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,73.283430